# Created by .ignore support plugin (hsz.mobi)
*~
.DS_Store
*.qicon
._*
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
thumbs.db
*.iml

# Folders to ignore
.hg
.svn
.CVS
.idea
node_modules/
npm-debug.log
